# dependencies
/node_modules

# production
/build

# VSCode
.history/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Mac
.DS_Store

# logs
*.log

