<div>
  <a href="https://play.google.com/store/apps/details?id=app.raha.mobile" style="display:inline-block; margin:8px;">
    <img width="200" alt="Get it on Google Play" src="/assets/img/attribution/googleplay.png" />
  </a>
  <a href="https://itunes.apple.com/app/raha/id1434224783?ls=1&mt=8" style="display:inline-block; margin:8px;">
    <img width="200" alt="Download on the Apple App Store" src="https://linkmaker.itunes.apple.com/assets/shared/badges/en-us/appstore-lrg.svg" />
  </a>
</div>
