<header>
  <div class="content">
    <amp-img class="logoText" src="/assets/img/logo/text.svg" width="110" height="35" noloading layout="fixed"></amp-img>
    <a class="button" href="/join" data-t="util.signUp"></a>
  </div>
</header>