<header>
  <div class="content">
    <amp-img class="logoText" src="/assets/img/logo/text.svg" width="110" height="35" noloading layout="fixed"></amp-img>
    {{!-- TODO: This assumes there's an element with id joinUs, which is true in
    splash page. Fix this in other pages --}}
    <button on="tap:joinUs.scrollTo(duration=200)" data-t="util.signUpLong"></button>
  </div>
</header>