{{#extend "raha/layout/base/layout"}}
  {{#content "styles" mode="append"}}
    .splashPage {
      margin: 20px auto;
    }

    .splashPage > .banner {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: auto;
    }

    .networkImg {
      margin-top: -11%;
    }

    .emailInput {
      font-size: 20px;
      margin-top: 10px;
      border: 1px solid black;
      padding: 5px;
      border-radius: 2px;
      border-color: #cfcfcf;
    }

    .spacer {
      height: 30px;
    }

    .button {
      font-size: 24px;
      font-weight: 600;
      background-color: lightblue;
      border-radius: 12px;
      padding: 10px 30px;
      margin-top: 10px;
    }

    .centerFlex {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      text-align: center;
    }

    .splashPage > .description > div {
      flex-basis: 300px;
    }

    .whyContainer {
      margin-top: 30px;
      margin-bottom: 30px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    .whyContainer > h3 {
      margin-top: 0;
    }

    .whyLearnMore {
      justify-content: flex-end;
      margin: 0 10px;
    }

    .splashPage > .banner > h1, h2 {
      padding: 0;
      line-height: 1.5;
      text-align: center;
      max-width: 350px;
      margin: auto;
    }

    .splashPage > h1,
    .splashPage > h2 {
      text-align: center;
    }

    h2.supports {
      text-align: center;
    }

    ul.features {
      list-style-type: none;
      padding: 0 30px;
      margin: auto;
    }

      
    ul.features > li > a {
      text-decoration: none;
      color: inherit;
    }

    ul.features > li > a > div {
      height: 315px;
      max-width: 250px;
      padding: 1px;
    }

    .splashPage > .login {
      text-align: center;
    }

  {{/content}}

  {{#content "body"}}
    <main class="splashPage">
      <section class="banner">
        <h1>Raha</h1>
        <h2 data-t="splashPage.bannerTitle"></h2>
        <amp-img class="networkImg" height="9" width="16" layout="responsive" src="/assets/img/Network.png"></amp-img>
      </section>
      <section class="description centerFlex">
        <div>
          <h4 data-t="splashPage.problem"></h4>
          <h4 data-t="splashPage.solution"></h4>
          <h4 data-t="splashPage.description"> </h4>
          <a href="/what-is-raha/"><button class="button" data-t="learnMore"></button></a>
          <div class="spacer"></div>
          <h4 data-t="splashPage.everyLife"></h4>
          <form method="post" action-xhr="https://raha.us18.list-manage.com/subscribe/post?u=df19cb2bb2149b51990f5aa31&amp;id=865d902f37" target="_top">
            <fieldset>
              <input class="emailInput" type="email" name="EMAIL" placeholder="ENTER YOUR EMAIL" required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div id="mce-responses">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div> 
              <input class="button" type="submit" data-attr-t value-t="splashPage.join">
            </fieldset>
            <div submit-success>
                Subscription successful!
            </div>
            {{!-- TODO This should show failure, but it gets shown even for 200 --}}
            <div submit-error>
                Subscribed!
            </div>
          </form>
        </div>
      </section>
      <section>
        <ul class="features centerFlex">
          <li>
            <a href="/why-ubi/">
              <div class="whyContainer">
                <amp-img height="9" width="16" layout="responsive" src="/assets/img/Mint.png"></amp-img>
                <h3 data-t="splashPage.ubi"></h3>
                <div class="button whyLearnMore" data-t="learnMore" />
              </div>
            </a>
          </li>
          <li>
            <a href="/why-trust/">
              <div class="whyContainer">
                <amp-img height="9" width="16" layout="responsive" src="/assets/img/Give.png"></amp-img>
                <h3 data-t="splashPage.trust"></h3>
                <div class="button whyLearnMore" data-t="learnMore" />
              </div>
            </a>
          </li>
          <li>
            <a href="/why-values/">
              <div class="whyContainer">
                <amp-img height="9" width="16" layout="responsive" src="/assets/img/Video.png"></amp-img>
                <h3 data-t="splashPage.values"></h3>
                <div class="button whyLearnMore" data-t="learnMore" />
              </div>
            </a>
          </li>
        </ul>
      </section>
    
      <section class="login">
        <a href="https://web.raha.app/login" data-t>splashPage.alreadyMember</a>
      </section>
    </main>
  {{/content}}
{{/extend }}
