{{#extend "raha/layout/base/layout"}}
  {{#content "styles" mode="append"}}
    .splashPage > section {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
    }

    .splashPage > .banner {
      background: linear-gradient(90deg, #5ec3e9, #96E6B3);
    }

    {{!-- global content max-width of 800px --}}
    .splashPage > .banner > .content {
      max-width: 800px;
      margin: 0 auto;
      padding: 0 30px;
    }

    .splashPage > .banner > .content > *:not(:last-child) {
      margin-bottom: 30px;
    }

    .splashPage > .banner h2 {
      max-width: 500px;
    }

    .payments {
      background: linear-gradient(90deg, #6558f5, #8976ef);
      color: white;
    }

    .payments a:not(.button) {
      color: #96E6B3;
      transition: color .1s ease-in;
    }

    .payments a:not(.button):hover, .payments a:not(.button):focus {
      color: #B1E4C3;
    }

    .infoSection > * {
      max-width: 800px;
      padding: 0px 30px;
      margin: 0 auto;
    }

    .infoSection > *:not(:last-child) {
      margin-bottom: 30px;
    }

    .infoSection > .details {
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: left;
    }

    .infoSection > .details > *:not(:last-child) {
      margin-right: 30px;
    }

    .infoSection .text {
      flex-basis: 175px;
      flex-shrink: 0;
      flex-grow: 1;
    }

    .infoSection .text p {
      margin-bottom: 1.3em;
    }

    @media(max-width: 500px) {
      .infoSection > .details > *:not(:last-child) {
        margin-right: 20px;
      }

      .infoSection .text p {
        margin-bottom: 0;
      }

      .infoSection .text > a {
        display: none;
      }
    }

    @media(max-width: 400px) {
      .rahaBasicIncome > .details > *:not(:last-child) {
        margin-right: 0;
      }
    }

    @media(min-width: 500px) {
      .infoSection .bottomLink {
        display: none;
      }
    }

    {{!-- Necessary since AMP images in flex parents receive no width:
    https://github.com/ampproject/amphtml/issues/7144 --}}
    .infoSection > .details > amp-img {
      flex-basis: 50%;
    }

    .splashPage > .login {
      text-align: center;
    }
  {{/content}}

  {{#content "body"}}
    <main class="splashPage">
      <section class="banner">
        <div class="content">
          <h2 data-t="splashPage.bannerTitle"></h2>
          <button on="tap:mailingListSignUpForm.scrollTo(duration=200)" data-t="util.signUpLong"></button>
          <amp-img height="7" width="16" layout="responsive" src="/assets/img/toons/family.png"></amp-img>
        </div>
      </section>
      <section class="rahaBasicIncome infoSection">
        <h2 data-t="splashPage.rahaBasicIncome.title"></h2>
        <div class="details">
          <div class="text">
            <p data-t="splashPage.rahaBasicIncome.description"></p>
            <a href="/why-ubi" data-t="splashPage.rahaBasicIncome.learnMore"></a>
          </div>
          <amp-img height="4" width="5" layout="responsive" src="/assets/img/toons/coin.png"></amp-img>
        </div>
        <a class="bottomLink" href="/why-ubi" data-t="splashPage.rahaBasicIncome.learnMore"></a>
      </section>
      <section class="payments infoSection">
        <h2 data-t="splashPage.payments.title"></h2>
        <div class="details">
          <amp-img height="10" width="16" layout="responsive" src="/assets/img/toons/give.png"></amp-img>
          <div class="text">
            <p data-t="splashPage.payments.description"></p>
            <a href="/what-is-raha" data-t="splashPage.payments.learnMore"></a>
          </div>
        </div>
        <a class="bottomLink" href="/what-is-raha" data-t="splashPage.payments.learnMore"></a>
      </section>

      <section class="login">
        <a href="https://web.raha.app/login" data-t>splashPage.alreadyMember</a>
      </section>
    </main>
  {{/content}}
{{/extend }}
