{{#extend "raha/layout/base/layout"}}
  {{#content "styles" mode="append"}}
    .whatIsRaha {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  {{/content}}

  {{#content "body"}}
    <main class="whatIsRaha">
      <article>
        {{> raha/util/backHome }}

        <h1 data-t>whatIsRaha.title</h1>

        <h2 data-t>whatIsRaha.manifesto.title</h2>
        <p data-t>whatIsRaha.manifesto.text1</p>
        <p data-t>whatIsRaha.manifesto.text2</p>
        <p id="core" data-t>whatIsRaha.manifesto.text3</p>
        <ul>
          <li>
            <span data-t>whyUbi.title</span>. <a href="/why-ubi/" data-t>learnMore</a>.
          </li>
          <li>
            <span data-t>whyTrust.title</span>. <a href="/why-trust/" data-t>learnMore</a>.
          </li>
          <li>
            <span data-t>whyValues.title</span>. <a href="/why-values/" data-t>learnMore</a>.
          </li>
        </ul>

        <h2 id="rbi" data-t>whatIsRaha.income.title</h2>
        <p data-t>whatIsRaha.income.text</p>

        <h2 data-t>whatIsRaha.inactive.title</h2>
        <p data-t>whatIsRaha.inactive.text</p>

        <h2 data-t>whatIsRaha.transactions.title</h2>
        <p data-t>whatIsRaha.transactions.text</p>

        <h2 id="invite-bonus" data-t>whatIsRaha.invite.title</h2>
        <p data-t>whatIsRaha.invite.text</p>

        <h2 data-t>whatIsRaha.parliamentFund.title</h2>
        <p data-t>whatIsRaha.parliamentFund.text1</p>

        <h2 id="tbu" data-t>whatIsRaha.tenBillion.title</h2>
        <p data-t>whatIsRaha.tenBillion.text1</p>
        <p data-t>whatIsRaha.tenBillion.text2</p>
        <p data-t>whatIsRaha.tenBillion.text3</p>
        <h2 data-t>whatIsRaha.parliament.title</h2>
        <p data-t>whatIsRaha.parliament.text1</p>
        <ul>
          <li data-t>whatIsRaha.parliament.resp1</li>
          <li data-t>whatIsRaha.parliament.resp2</li>
          <li data-t>whatIsRaha.parliament.resp3</li>
        </ul>
        <p data-t>whatIsRaha.parliament.text2</p>
        <p>
          <span data-t="whatIsRaha.parliament.text3"></span> <a
            href="https://discuss.raha.app/c/raha-governance"
            data-t="whatIsRaha.parliament.participate"
          ></a>
        </p>

        <h2 id="budget" data-t>whatIsRaha.parliamentBudget.title</h2>
        <p>
          <span data-t="whatIsRaha.parliamentBudget.text"></span> <a
            href="https://discuss.raha.app/c/raha-governance"
            data-t="whatIsRaha.parliamentBudget.participate"
          ></a> <span
            data-t="whatIsRaha.parliamentBudget.participateReason"
          ></span>
        </p>
        <ul>
          <li data-t>whatIsRaha.parliamentBudget.point1</li>
          <li data-t>whatIsRaha.parliamentBudget.point2</li>
          <li data-t>whatIsRaha.parliamentBudget.point3</li>
          <li data-t>whatIsRaha.parliamentBudget.point4</li>
        </ul>

      </article>
    </main>
  {{/content}}
{{/extend }}
