{{#extend "raha/layout/base/layout"}}
  {{#content "body"}}
    <main>
      <article>
        {{> raha/util/backHome }}
        <h2 data-t>whyTrust.title</h2>
        <p data-t>whyTrust.p1</p>
        <p data-t>whyTrust.p2</p>
        <p data-t>whyTrust.p3</p>
        <p data-t>whyTrust.p4</p>
        <p data-t>whyTrust.p5</p>
      </article>
    </main>
  {{/content}}
{{/extend }}
