{{#extend "raha/layout/base/layout"}}
  {{#content "body"}}
    <main>
      <article>
        {{> raha/util/backHome }}
        <h2 data-t>splashPage.ubi</h2>
        <p data-t>whyUbi.p1</p>
        <p data-t>whyUbi.p2</p>
        <p data-t>whyUbi.p3</p>
      </article>
    </main>
  {{/content}}
{{/extend }}
