{{#extend "raha/layout/base/layout"}}
  {{#content "styles" mode="append"}}
    .whyUbi {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  {{/content}}
  {{#content "body"}}
    <main class="whyUbi">
      <article>
        {{> raha/util/backHome }}
        <h2 data-t>whyUbi.title</h2>
        <p data-t>whyUbi.p1</p>
        <p data-t>whyUbi.p2</p>
        <p data-t>whyUbi.p3</p>
      </article>
    </main>
  {{/content}}
{{/extend }}
