{{#extend "raha/layout/base/layout"}}
  {{#content "body"}}
    <main>
      <article>
        {{> raha/util/backHome }}
        <h2 data-t>splashPage.values</h2>
        <p data-t>whyValues.p1</p>
        <p data-t>whyValues.p2</p>
        <p data-t>whyValues.p3</p>
        <p data-t>whyValues.p4</p>
        <p data-t>whyValues.p5</p>
        <p data-t>whyValues.p6</p>
        <p data-t>whyValues.p7</p>
      </article>
    </main>
  {{/content}}
{{/extend }}
