<head>
  <meta charset="utf-8">
  <script async src="https://cdn.ampproject.org/v0.js"></script>
  <title>Raha.io Network</title>

  <!-- Favicons -->
  <link rel="shortcut icon" href="/assets/lib/icons/favicons/favicon.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/lib/icons/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/lib/icons/favicons/favicon-16x16.png" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/lib/icons/favicons/apple-touch-icon.png" />
  <!-- Safari pinned tab icon -->
  <link rel="mask-icon" href="/assets/lib/icons/safari-pinned-tab.svg" color="#2A945E" />

  <!-- Internationalization -->
  <!-- TODO: add correct hreflangs automatically -->
  <link rel="canonical" href="https://raha.io/" />
  <link rel="alternate" hreflang="zh" href="https://raha.io/zh" />

  <!-- For the robots -->
  <meta name="description" content="The Raha.io Network is a community project dedicated to trusted identity and equal opportunity."
  />
  <meta name="keywords" content="Universal Basic Income,UBI,Blockchain,Identity,Trust,Transparency,Audit,Equality,Security"
  />
  <meta property="og:title" content="Raha.io Network" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://raha.io/" />
  <link rel="manifest" href="/assets/lib/manifest.json" />

  <style amp-boilerplate>
    body {
      -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
      animation: -amp-start 8s steps(1, end) 0s 1 normal both
    }

    @-webkit-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-moz-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-ms-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @-o-keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }

    @keyframes -amp-start {
      from {
        visibility: hidden
      }
      to {
        visibility: visible
      }
    }
  </style>
  <noscript>
    <style amp-boilerplate>
      body {
        -webkit-animation: none;
        -moz-animation: none;
        -ms-animation: none;
        animation: none
      }
    </style>
  </noscript>
  <style amp-custom>
    body {
      font-family: sans-serif;
    }

    .splash {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
    }

    .intro {
      font-size: large;
      margin: 5vh;
    }

    .title {
      font-size: 5vh;
      margin: 10vh 0.5vh;
    }

    .banner {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: justify;
      justify-content: space-between;
      height: 50px;
      margin-bottom: 20px;
      box-shadow: rgb(239, 239, 239) 0px 2px 2px;
    background: rgb(76, 175, 80);
      border-bottom: 1px solid white;
    }

    .banner-title {
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      color: white;
      font-size: 2em;
      font-weight: bold;
      padding: 10px;
    }

    .footer {
      margin-top: 50px;
      text-align: center;
      padding: 50px 30px;
      background: rgb(238, 238, 238);
      position: fixed;
      bottom: 0;
      width: 100%;
    }

    div.row {
      display: flex;
    }

    div.box {
      margin: 0 2vw;
    }

    div.reason {
      font-weight: 600;
      margin: 2vh 2vw;
    }
  </style>
</head>
