<div id="root">
  <div id="appLayout">
    <header class="banner">
      <span class="banner-title">
        {{> raha-logo }}
      </span>
    </header>
    <main>
      <div class="splash">
        <h2 class="title" data-t>raha_network</h2>
        <div class="intro" data-t>every_life</div>
        <div class="row">
          <div class="box">
            <div class="reason" data-t>prosperity</div>
            <div data-t>prosperity_details</div>
          </div>
          <div class="box">
            <div class="reason" data-t>trust</div>
            <div data-t>trust_details</div>
          </div>
          <div class="box">
            <div class="reason" data-t>free</div>
            <div data-t>free_details</div>
          </div>
        </div>
        <div class="intro" data-t>invite_only</div>
        <div class="intro">
          <span data-t>already_member</span>
          <a href="https://app.raha.io/login" data-t>login</a>
        </div>
      </div>
    </main>
    <footer class="footer">Raha Foundation, 2018</footer>
  </div>
</div>
