<main class="splashPage">
  <h1 data-t>raha_network</h1>
  <h2 data-t>every_life</h2>
  <ul class="features">
    <li>
      <h3 data-t>prosperity</h3>
      <span data-t>prosperity_details</span>
    </li>
    <li>
      <h3 data-t>trust</h3>
      <span data-t>trust_details</span>
    </li>
    <li>
      <h3 data-t>free</h3>
      <span data-t>free_details</span>
    </li>
  </ul>

  <section class="invite">
    <h3 data-t>invite_only</h3>
    <span data-t>already_member</span>
    <a href="https://app.raha.io/login" data-t>login</a>
  </section>
</main>
